body {
  background: gray;
}
h1 {
  text-align: center;
  font: 800;
}
p {
  background: #000;
  color: white;
  border: none;
  border-radius: 14px;
  padding: 1em;
  box-shadow: inset 4px 4px 25px solid brown;
}
