body {
  background: red;
}

.cta-div {
  border: 3px solid yellow;
  border-radius: 18px;
  background: #fff;
  width: fit-content;
  padding: 0.8em;
  a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
  }
}

.quick-links a {
  color: blue;
}
